<div class="glass__output">
    <div class="result__left">
        <h3>Glass Resistance</h3>
        <table class="glass">
            <thead>
                <tr>
                    <th></th>
                    <th>(Outer Panel)</th>
                    <th>(Inner Panel)</th>
                    <th>LR</th>
                    <th>P<sub>z</sub></th>
                    <th>Ratio</th>
                    <th>Check</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>NFL<sub>n</sub></td>
                    <td>{{ summary.load_resistance.nfl1 }}</td>
                    <td>{{ summary.load_resistance.nfl2 }}</td>
                    <td rowspan="4">{{ summary.load_resistance.lr }}</td>
                    <td rowspan="4">{{ summary.params.wind_load }}</td>
                    <td rowspan="4">{{ summary.load_resistance.ratio }}</td>
                    <td rowspan="4" class="{% if summary.load_resistance.ratio < 1 %}ok{% else %}not-ok{% endif %}">
                        {% if summary.load_resistance.ratio < 1 %} OK {% else %} NOT OK {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>GTF<sub>n</sub></td>
                    <td>{{ summary.load_resistance.gtf1 }}</td>
                    <td>{{ summary.load_resistance.gtf2 }}</td>
                </tr>
                <tr>
                    <td>LS<sub>n</sub></td>
                    <td>{{ summary.load_resistance.ls1 }}</td>
                    <td>{{ summary.load_resistance.ls2 }}</td>
                </tr>
                <tr>
                    <td>LR<sub>n</sub></td>
                    <td>{{ summary.load_resistance.lr1 }}</td>
                    <td>{{ summary.load_resistance.lr2 }}</td>
                </tr>
            </tbody>
        </table>

        <h3>Deflection</h3>
        <table class="glass">
            <thead>
                <tr>
                    <th></th>
                    <th>(Outer Panel)</th>
                    <th>(Inner Panel)</th>
                    <th>r<sub>0</sub></th>
                    <th>r<sub>1</sub></th>
                    <th>r<sub>2</sub></th>
                    <th>δ</th>
                    <th>δ<sub>a</sub></th>
                    <th>Ratio</th>
                    <th>Check</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>q<sub>n</sub></td>
                    <td>{{ summary.deflection.q1 }}</td>
                    <td>{{ summary.deflection.q2 }}</td>
                    <td rowspan="3">{{ summary.deflection.r_0 }}</td>
                    <td rowspan="3">{{ summary.deflection.r_1 }}</td>
                    <td rowspan="3">{{ summary.deflection.r_2 }}</td>
                    <td rowspan="3">{{ summary.deflection.delta }}</td>
                    <td rowspan="3">{{ summary.deflection.delta_a }}</td>
                    <td rowspan="3">{{ summary.deflection.ratio }}</td>
                    <td rowspan="3" class="{% if summary.deflection.ratio < 1 %}ok{% else %}not-ok{% endif %}">
                        {% if summary.deflection.ratio < 1 %} OK {% else %} NOT OK {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>x<sub>n</sub></td>
                    <td>{{ summary.deflection.x1 }}</td>
                    <td>{{ summary.deflection.x2 }}</td>
                </tr>
                <tr>
                    <td>δ<sub>n</sub></td>
                    <td>{{ summary.deflection.delta1 }}</td>
                    <td>{{ summary.deflection.delta2 }}</td>
                </tr>
            </tbody>
        </table>

        <h3>Silicone Bite</h3>
        <table class="glass">
            <thead>
                <th>B (mm)</th>
                <th>F<sub>s</sub> (kPa)</th>
                <th>t<sub>r</sub> (mm)</th>
                <th>t<sub>p</sub> (mm)</th>
                <th>e<sub>r</sub> (mm)</th>
                <th>e<sub>p</sub> (mm)</th>
                <th>Check</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ summary.params.width }}</td>
                    <td>{{ summary.silicone_bite.sigma_s }}</td>
                    <td>{{ summary.silicone_bite.t_req }}</td>
                    <td>{{ summary.silicone_bite.t_pro }}</td>
                    <td>{{ summary.silicone_bite.e_req }}</td>
                    <td>{{ summary.silicone_bite.e_pro }}</td>
                    <td class="{% if summary.silicone_bite.t_pro > summary.silicone_bite.t_req and summary.silicone_bite.e_pro > summary.silicone_bite.e_req %}ok{% else %}not-ok{% endif %}">
                        {% if summary.silicone_bite.t_pro > summary.silicone_bite.t_req and summary.silicone_bite.e_pro > summary.silicone_bite.e_req %} OK {% else %} NOT OK {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Sound Transmission Class</h3>
        <table class="glass">
            <thead>
                <tr>
                    <th colspan="2">Glass Density</th>
                    <th rowspan="2">R1</th>
                    <th rowspan="2">Approx. STC (dB)</th>
                </tr>
                <tr>
                    <th>Outer Panel</th>
                    <th>Inner Panel</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ summary.stc.density1 }}</td>
                    <td>{{ summary.stc.density2 }}</td>
                    <td>{{ summary.stc.R1 }}</td>
                    <td>{{ summary.stc.STC }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="abbr">
        <div class="abbr__inner">
            <h4>Where,</h4>
            <ul>
                <li>NFL – Non-factored Load</li>
                <li>LS – Load Share Factor</li>
                <li>LR – Load Resistance</li>
                <li>P<sub>z</sub> – Wind Load</li>
                <li>q – Wind Load on single panel</li>
                <li>r<sub>0</sub>, r<sub>1</sub>, r<sub>2</sub>, x – Deflection coefficient</li>
                <li>δ – Deflection</li>
                <li>δ<sub>a</sub> – Allowable Deflection</li>
                <li>B – Load / Glass Width</li>
                <li>F<sub>s</sub> – Design strength of silicone</li>
                <li>t<sub>r</sub> – Required silicone bite thickness</li>
                <li>t<sub>p</sub> – Provided silicone bite thickness</li>
                <li>e<sub>r</sub> – Required glue line thickness</li>
                <li>e<sub>p</sub> – Provided glue line thickness</li>
                <li>R<sub>1</sub> – Coefficient for insulation type (air/gas)</li>
            </ul>
        </div>
        
    </div>
</div>